.searchResult {
  display: flex;
  position: relative;
  padding: 40px 10px;
  gap: 25px;
  align-items: center;
}
.searchResult__info {
  flex: 1;
}
.searchResult__info h5,
.searchResult__info h6 {
  margin: 0;
}
.searchResult__icon {
  width: 24px;
  height: 24px;
}
.searchResult {
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
}
.searchResult:last-of-type {
  border-bottom: none;
}
.searchResult > img {
  border-radius: 15px;
  width: 40%;
  min-width: 150px;
  max-width: 350px;
  object-fit: cover;
  height: 42vh;
  min-height: 150px;
  max-height: 220px;
}

.searchResult__like {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}
.searchResult__price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.searchResult__price > *:first-of-type *:last-of-type {
  font-size: 14px;
  line-height: 0.9;
}
.searchResult__price > *:first-of-type {
  display: flex;
  align-items: center;
  justify-items: center;
  line-height: 0.9;
}
/* responsive */
@media (max-width: 600px) {
  .searchResult {
    flex-direction: column;
  }
  .searchResult > img {
    width: 100%;
    min-width: 150px;
    /* max-width: 350px; */
    object-fit: cover;
    min-height: 150px;
    max-height: 230px;
  }
  .searchResult__like {
    top: 10px;
    right: 10px;
  }
  .searchResult__info h4 {
    font-size: 20px;
  }
}
@media (max-width: 350px) {
  .searchResult {
    padding: 10px 0px;
  }
  .searchResult__price {
    align-items: center;
    flex-direction: column-reverse;
    gap: 10px;
  }
}
