:root {
  --main-color-red: #ff385c;
  --main-bg-light: white;
  --max-container-width: 1280px;
  --banner-bg: black;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
}
.text__link {
  text-decoration: none;
  color: inherit;
}
