.card__section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
  padding: 10px;
}

@media (max-width: 760px) {
  .card {
    width: 48%;
  }
}
@media (max-width: 500px) {
  .card {
    width: 100%;
  }
}
